.divone{
display:flex;
justify-content: center;
  color: blue;
  background-color: aquamarine;
  
  font-size: small;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 50px;
  width: 50%;
  margin-left:32% ;
}
.myinput{
  display: flex;
 margin-left: 45%;
 margin-top: 4%;
}
.divone p{
  display: inline-flex;
}
p{font-size: large;
font-family: 'Times New Roman', Times, serif;
font-weight: 100;


}
